/out/production/shlTest/GenerateCodeByZxing/*.class
/out/production/shlTest/src/Decorator
/out/production/shlTest/src
/out/production/shlTest/.idea
/out/production/shlTest
/out/production/shlTest/META-INF
/out/production/shlTest/META-INF/*.kotlin_module
